
<title>Shared Todo App </title>

<%= form_tag("/todos/complete/", :method => "post") do %>
<ul style="list-style-type:none;">
<% @todo_items.each do |t| %> 
    <li> <%= check_box_tag  "todos_checkbox[]",t.id %> <%= t.todo_item %>  </li>
<%end%>
</ul>
<%= submit_tag("Complete Todos", :class=>"btn btn-success") %>
<%end %>
 
<% if !flash[:error].nil? %>
 <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert" >×</button>
    <strong><%= flash[:error] %></strong>
    </div>
<% end %>

<% if flash[:success] %>
   <div class="alert alert-success">
     #show flash[:success] message here
   </div>
  <% end %>

<p>All your todos here</p>

<title>Shared Todo App </title>
<div class="container">
  <div class="row">
    <div class="span4">
      <h1>Shared Todo App</h1>
      <hr>
      <p>All your todos here</p>
      <div class="well">
        <% @todo_items.each do |t| %>
         <li> <%= t.todo_item %> </li>
        <% end %>
      </div> <!-- well -->
    </div> <!-- span4 -->
  </div> <!-- row -->
</div> <!-- container -->

<%= link_to "Delete last todo", delete_path %>